.afins{
  .exemplo{
    color: #000;
    color: #000;
    color: #000;
  }
}

.sugestoes-miguel{
  .cyberpunk-dark{
    color: #63345e;
    color: #ac61b9;
    color: #b7c1de;
    color: #0b468c;
    color: #092047;
  }
}