*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #7076a4;
    a{text-decoration: none;}
}

/* definindo os que vão preencher a largura toda da página */
body, header, main, footer{
    width: 100% !important;
}

header{
    position: fixed;
    top: 0;
    padding: 10px;
    height: 70px;
    background-color: #313449;
    display: flex;
    flex-direction: row;

    *{ /* todos dentro do header */
        color: #fff;
        align-content: center;
        text-align: center;
    }
    
    a.logo{
        margin: 0 20px;
        color: white;
        text-decoration: none;
    }

    nav.barra-navegacao{
        display: grid;

        *{ /* todos dentro da nav.barra-navegacao */
            align-content: center; 
            text-align: center;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li{margin: 0 3px;}
        }
    }
}

main{
    margin: 100px 0 40px 0; /* distanciando do header e do footer */
    color: white;
    min-height : 100%;

    .main-section-container {
        padding: 20px;

        .medium-container-1, .medium-container-2{ /* todos os containers médios */
            height: fit-content;
            padding: 50px 0;
            margin: 20px 0;
            border-radius: 15px;

            .section-child{ /* os filhos dos containers médios */
                border-radius: 5px;
                padding: 30px;
                margin: 15px 15px;
                box-shadow: 0px 3px 10px rgb(0, 0, 0);
            }       
        }

        /* mudando as cores individualmente */

        .medium-container-1{
            background-color: #bb9083;
            .section-child{background-color:#cf264b;}
        }

       .medium-container-2{
            background-color: #839dbb;
            .section-child{background-color:#08185e;}
        }
    }
}

footer{ 
    bottom: 0;
    background-color: #313449;
    color: white;
    height: 100px;
    align-content: center;
    text-align: center;
    
    .footer-section-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}